body {
    background-color: #ffffff;
}

p {
    color: #000000;
}

p.header {
    margin-top: 0%;
    margin-bottom: 0%;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 4vh;
    text-align: center;
    color: #000000;
    margin-bottom: 0%;
}

h3 {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0%;
    color: #000000;
}


ul {
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 5%;
    color: #000000;
}

li {
    line-height: 1em;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

li::marker {
    color: #000000;
}

a {
    color: #08007a;
}

hr.header {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #000000;
    color: #000000;
    width: 90%;
}

hr.thin {
    margin-top: 0%;
    background-color: #000000;
    color: #000000;
    width: 90%;
}